<ion-navbar *navbar>
    <ion-title>Cart</ion-title>
</ion-navbar>

<ion-content>
    <div *ngIf="!items.length" class="swiper-slide">
        <h2>Your cart is empty</h2>
    </div>
    <ion-list *ngIf="items.length">
        <ion-item-sliding *ngFor="#item of items">
            <ion-item>
                <ion-thumbnail item-left>
                    <img [src]="item.img">
                </ion-thumbnail>
                <h2>{{item.title}}</h2>
                <p>{{item.description}}</p>
                <div item-right>
                    <h2>${{item.price}} <span *ngIf="item.count">x {{item.count}}</span></h2>
                </div>
            </ion-item>
            <ion-item-options>
                <button (click)=removeItem(item)>
                    <ion-icon name="remove"></ion-icon>
                </button>
                <button (click)=addItem(item)>
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item>
            <h2 item-right>Total: ${{total}}</h2>
        </ion-item>
        <div padding>
            <button primary block (click)="checkout()">Checkout</button>
        </div>
    </ion-list>
</ion-content>